<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static  'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static  'css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="header1">
                <a href="{% url 'main:home' %}"><span class="header">Site Migration</span></a>  
            </div>
            <div class="header3">
                <span>Welcome</span><span style="color: 	#FF6600;"> {{ current_user }}</span>
            </div>
        </div>
    </header>


    <div class="navbar">
        <div class="nav_left">
            <div class="home">
                <a href="{% url 'main:home' %}"><i class="fa fa-home"></i></a>
            </div>
            {% if current_user %}
            <div class="dropdown">

                <button class="dropbtn">Giải trí</button>
                <div class="dropdown-content">
                    <a href="{% url 'main:music' %}">Music</a>
                    <a href="{% url 'main:game' %}">Game</a>
                </div>
            </div>

            <div class="dropdown">

                <button class="dropbtn">Tin Tức</button>
                <div class="dropdown-content">
                    <a href="https://www.youtube.com/playlist?list=PLWOWPtHR1gWmGYyc0wE5-qBgkLB3rKikn"
                        target="_blank">Nga & Ucraina</a>
                    <a href="https://www.youtube.com/playlist?list=PLWOWPtHR1gWnDzV96R1NSGpRtUIXENZjx"
                        target="_blank">Trong Nước</a>
                </div>
            </div>
            <div class="dropdown">

                <button class="dropbtn">Diễn đàn</button>
                <div class="dropdown-content">
                    <a href="{% url 'main:blog' %}">Việt Nam</a>

                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="nav_right">


            {% if current_user %}
            <div class="a"><a href="{% url 'main:logout' %}">Logout</a></div>
            <div class="a"><a href="{% url 'main:changepass' %}">Account </a></div>
            {% else %}
            <li><a href="{% url 'main:login' %}">Login </a></li>
            <li><a href="{% url 'main:signup' %}">Sign Up</a></li>

            {% endif %}

        </div>
    </div>

    <div class="body">
        {% block body %} {% endblock %}


    </div>
    </div>

    <footer>
        <div class="footer1">
            <p>Author: Duy-Hieu</p>
            <p>Email: hieuduyth98@gmail.com</p>
            <p>SDT: <a href="tell:+84947983316">0947983316</a></p>
        </div>
        <div class="footer2"></div>
        <div class="footer3">

            <p>Copyright <span>&#169;</span> Duy-Hieu All Right Reserved</p>
        </div>
    </footer>

</body>

</html>