<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://cm.litextension.com/images/favicon.ico">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="63O5adJ9RPCSYo7Jqcq25nD3aiWW8A1371HxBbTQ">
    <meta name="title" content="Shopping Cart Migration Made Easy - LitExtension" />
    <meta name="description" content="Ultimate Shopping Cart Migration Service to help you migration data from your store to desire shopping cart automatically" />
    <meta name="keywords" content="shopping cart migration, move shopping cart, transfer shopping cart, migrate shopping cart" />
    <meta name="ahrefs-site-verification" content="7af4369c6df7a232b13ed4ab00fabbd958aa9b16a5693076e0c7bf48bca0e33c">
    <title> My Migrations </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link type="text/css"  href="https://cm.litextension.com/packages/select2/css/select2.css" rel="stylesheet" />

            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/bootstrap.min.css"/>
            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/bootstrap-theme.min.css"/>
            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/migration.css"/>
            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/font-awesome.min.css"/>
    
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery.form.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery.validate.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/cartmigration.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery-html-svg-connect.js"></script>
        <script type="text/javascript"  src="https://cm.litextension.com/packages/select2/js/select2.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Styles -->
    <style>
        html, body {
            background-color: #fff;
            color: #3a3a3a;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            /*height: 100%;*/
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>

                                <script>
                    dataLayer = [{
                        'UserId': '126055'
                    }];
                </script>
            








<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KP5FDR');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<div class="modal fade" id="modal-setup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <iframe id="iframeYoutube" width="1000" height="600"  src="" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="modal-close" data-dismiss="modal">
                <div><strong><i class="fas fa-times"></i></strong></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modal-setup').on('hidden.bs.modal', function (e) {
            $('#iframeYoutube').attr('src', '')
        })
    });
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP5FDR"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Post Affiliate Pro click tracking -->
<script type="text/javascript" id="pap_x2s6df8d" src="https://litextension.postaffiliatepro.com/scripts/trackjs.js"></script>
<script type="text/javascript">
    PostAffTracker.setAccountId('default1');
    try {
        PostAffTracker.track();
    } catch (err) { }
</script>
<!-- / Post Affiliate Pro click tracking -->
<header class="header" id="home-page">
	<nav class="navbar navbar-inverse">
		<div class="container">
		    <div class="navbar-header" style="padding: 10px 0;">
				<a class="" href="https://cm.litextension.com/my-migrations"><span class="logo"></span></a>
			</div>

		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <!-- Right Side Of Navbar -->
		        <ul class="nav navbar-nav navbar-right" >
		            <!-- Authentication Links -->
		            						<li class="nav-item active"><a class="nav-link" href="https://cm.litextension.com/my-migrations">My Migrations</a></li>
						<li class="nav-item "><a class="nav-link" href="https://cm.litextension.com/create-migration">Create Migration</a></li>
						<li class="nav-item "><a class="nav-link" href="https://cm.litextension.com/all-in-one-migration">All-In-One Migration</a></li>
						<li class="nav-item ">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Buy a Service <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<li><a class="dropdown-item" href="https://cm.litextension.com/all-in-one-migration?source=csv">Migrate from CSV Files</a></li>
								<li><a class="dropdown-item" href="https://cm.litextension.com/all-in-one-migration?source=dbdump">Migrate from Database File</a></li>
								<li><a class="dropdown-item" href="https://cm.litextension.com/custom-migration">Customization Service</a></li>
								<li><a class="dropdown-item" href="https://cm.litextension.com/custom-field-package">Custom Field Package</a></li>
							</ul>
						</li>
						<!--
						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Help Center <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/contact-us.html">Report a Problem with My Migration</a></li>
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/faq/">FAQs</a></li>
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/download/payment_guide.pdf">Payment Guide</a></li>
								<li><a class="dropdown-item" target="_blank" target="_blank" href="http://litextension.zendesk.com/hc/en-us/requests">My Support Tickets</a></li>
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/contact-us.html">Contact Us</a></li>
							</ul>
						</li>
						-->
						
                                                    <li class="nav-item dropdown">
		                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>
		                        Diaz Ricardo <span class="caret"></span>
		                    </a>
		                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
		                    		<li><a class="dropdown-item" href="https://cm.litextension.com/profile">My Profile</a></li>
		                    		<li><a class="dropdown-item" href="https://cm.litextension.com/profile/billing">Top up Balance</a></li>
									<li><a class="dropdown-item" href="https://cm.litextension.com/profile/order">Order History</a></li>
									<li><a class="dropdown-item" href="https://cm.litextension.com/profile/billing">Download Invoice</a></li>
		                            <li><a class="dropdown-item" href="https://cm.litextension.com/logout"
		                                onclick="event.preventDefault();
		                                         document.getElementById('logout-form').submit();">
		                                Logout
		                            </a></li>
		                            <form id="logout-form" action="https://cm.litextension.com/logout" method="POST" style="display: none;">
		                                <input type="hidden" name="_token" value="63O5adJ9RPCSYo7Jqcq25nD3aiWW8A1371HxBbTQ">
		                            </form>

		                    </ul>
		                    </li>
                        
		            		        </ul>
		    </div>
		</div>
	</nav>
</header>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $.CartMigration({
                url: 'https://cm.litextension.com/migration-post-data',

            });
            function inIframe () {
                try {
                    return window.self !== window.top;
                } catch (e) {
                    return false;
                }
            }
            $.ajax({
                url: 'https://cm.litextension.com/migration-post-data',
                type: 'POST',
                dataType: 'json',
                data: {
                    _token: $("input[name=_token]").val(),
                    check: inIframe(),
                    process: 'checkAppMode',
                },
                success: function (response, textStatus, errorThrown) {
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // alert('123')
                }
            });
            if(inIframe()){
                $('a[href]').attr('target', '');
            }
        })

    </script>
    
	<div class="container migration-content">
        <div class="row">
                     <div class="alert alert-warning">
                For better and faster support experience, please share with us your <strong>Phone Number/Skype ID</strong>. The shared information is protected by LitExtension Security Policy <a href="https://cm.litextension.com/profile/edit_profile">Click to update</a>
            </div>
                <div class="col-xs-9" id="list-list">
        
        <div class="row migration-list-header">
            <div class="col-xs-6">
                <h2>My Migrations</h2>
            </div>
            <div class="col-xs-6 text-right">
                <a style="margin-right: 20px;margin-top: 15px;" instruction="create_new" class="instruction lit-button lit-button-default" href="https://cm.litextension.com/create-migration">Create New Migration</a>
            </div>
        </div>
        
                        <div style="margin-top: 30px;font-weight: 300;font-size: 16px;">You have no migration yet. Please create a new one.</div>
                </div>
        <div class="col-xs-3 " id="parent_support">
            <div id="support" class="position-fix">
                <div class="row" id="support_header">
                    <img class="inline-block" src="https://cm.litextension.com/images/lifesaver.svg" id="icon_support" alt="">
                    <h6 class="inline-block">Instructions</h6>
                </div>

                <div id="support_content">
                    <div id="support_content_create_new" class="help-content" type-support="create_new">
                        <p class="title_support" id="text-support">Create new Migration </p>

                        <ul>
                            <li>
                                Start a new migration. You can run a Free Demo Migration before purchasing a Full package.
                            </li>
                        </ul>
                    </div>
                    <div id="support_content_migration_details" class="display-none help-content" type-support="migration_details">
                        <p class="title_support" id="text-support">Migration Detail </p>

                        <ul>
                            <li>
                                Click on "Migration ID:XXX" for detailed information of your migration. Here, you can find your migration status, available actions, migration history, migration log and your expense.
                            </li>
                        </ul>
                    </div>
                    <div id="support_content_migration_status" class="display-none help-content" type-support="migration_status">
                        <p class="title_support" id="text-support">Migration Status </p>

                        <ul>
                            <li>
                                You can find migration status on the right of "Migration ID: XXXX". This describe the current state of your migration.
                            </li>
                        </ul>
                    </div>
                    <div id="support_content_continue_migration" class="display-none help-content" type-support="continue_migration">
                        <p class="title_support" id="text-support">Continue Migration </p>

                        <ul>
                            <li>
                                Continue the unfinished action.
                            </li>
                        </ul>
                    </div>
                    <div id="support_content_recent_migration" class="display-none help-content" type-support="recent_migration">
                        <p class="title_support" id="text-support">Recent Migration </p>

                        <ul>
                            <li>
                                This action is available after you've completed a Full Migration. <b>Recent Migration</b> allows you to migrate ONLY NEW ENTITIES added to your Source Store during and after you performed the last Full Migration.
                            </li>
                        </ul>
                    </div>
                    <div id="support_content_remig" class="display-none help-content" type-support="remig">
                        <p class="title_support" id="text-support">Re-Migration </p>

                        <ul>
                            <li>
                                This action is available after you have completed a Full Migration. <b>Re-migration</b> allows you to CLEAR MIGRATED DATA AND MIGRATE AGAIN. It also allows you to change your Target Store URL before the re-migration.
                            </li>
                        </ul>
                    </div>
                    <div id="support_content_smart_update" class="display-none help-content" type-support="smart_update">
                        <p class="title_support" id="text-support">Smart Update </p><br>
                        This action is available after you've completed a Full Migration. Smart Update allows you to:
                        <ul style="list-style-type: decimal;">
                            <li style="list-style-type: decimal; margin-left: 10px">
                                UPDATE INFORMATION of migrated data on Target Store from Source Store.
                                Fields supported in this update are: product name, SKU, quantity, status, product URL key, product price, sales price, product category link.
                            </li>
                            <li style="list-style-type: decimal; margin-left: 10px">
                                Perform the same function as Recent Data Migration: migrate NEW ENTITIES added to your Source Store during and after you performed the last Full Migration.
                            </li>
                        </ul>
                        <b>Smart Update</b> is perfect when you need an effective update from your Source Store to your Target Store after you have finished Full Migration.
                    </div>
                </div>
                <div style=" text-align: center; clear: both; margin: 20px -15px -15px; border-top: 20px solid white;">
                    <a href="https://litextension.com/challenge-us-registration-form.html?utm_content=bannercm&utm_campaign=challengeus" target="_blank"><img src="https://cm.litextension.com/images/challenge-us-2022-01-26.png" alt="" style="width: 252px; height: auto"></a>
                </div>
            </div>

        </div>
        </div>
	</div>

<footer class="footer">
	    <div id="find-my-package">
    <img style="height: 25px" src="https://litextension.com/wp-content/uploads/2021/02/help-1.png" alt="">
    <span class="">NO TIME TO MIGRATE BY YOUR OWN?</span>
    &nbsp;&nbsp;&nbsp; Hire our experts to perform Full Migration.&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="https://cm.litextension.com/all-in-one-migration">Find My Package --></a>
</div>	<div class="footer-menu col-xs-12">
		<div class="container">
			<div class="col-xs-3">
				
				<h3 class="footer-title-menu" style="margin-top: 0px !important;">
					<img src="https://cm.litextension.com/images/logo-footer.svg" alt="LitExtension logo" style="width: 250px;" />
				</h3>

				<div class="clearfix"></div>
				<div class="image-protected">
					<img src="https://cm.litextension.com/images/dmca_protected.png" alt="DMCA.com Protection Status"/>
				</div>
				<div class="footer-text">
					<h6>All acts of faking, copying or citing a part or all of the content on this website without LitExtension permission is illegal.</h6>
				</div>
			</div>
			<div class="col-xs-3">
				<h3 class="footer-title-menu">COMPANY</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/about-us.html">About LitExtension</a></li>
					<li class="menu-item"><a href="https://litextension.com/success-stories-litextension.html">Success Stories</a></li>
					<li class="menu-item"><a href="https://litextension.com/customer-reviews.html">Customer Reviews</a></li>
					<li class="menu-item"><a href="https://litextension.com/partner-program.html">Become a Partner</a></li>
					<li class="menu-item"><a href="https://litextension.com/affiliates.html">Affiliate Program</a></li>
					<li class="menu-item"><a href="https://litextension.com/blog">Blog</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<h3 class="footer-title-menu">POLICIES</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/privacy-policy.html">Privacy Policy</a></li>
					<li class="menu-item"><a href="https://litextension.com/terms-conditions.html">Terms and Conditions</a></li>
					<li class="menu-item"><a href="https://litextension.com/refund-policy.html">Refund Policy</a></li>
					<li class="menu-item"><a href="https://litextension.com/gdpr-compliance.html">GDPR Compliance</a></li>
					<li class="menu-item"><a href="https://litextension.com/data-security-policy.html">Data Security Policy</a></li>
					<li class="menu-item"><a href="https://litextension.com/partnership-terms-and-conditions.html">Partnership Policy</a></li>
				</ul>
			</div>

			<div class="col-xs-3">
				<h3 class="footer-title-menu">RESOURCES</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/webinars.html">Webinars</a></li>
					<li class="menu-item"><a href="https://www.youtube.com/c/litextension">Video Tutorial</a></li>
					<li class="menu-item"><a href="https://litextension.com/blog/">Ecommerce Blog</a></li>
					<li class="menu-item"><a href="https://www.facebook.com/groups/litextensioncommunity">Join Our Community</a></li>
				</ul>
			</div>

			<div class="col-xs-3">
				<h3 class="footer-title-menu">HELP CENTER</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/contact-us.html">Report a Problem</a></li>
					<li class="menu-item"><a href="https://litextension.com/faq/">FAQs</a></li>
					<li class="menu-item"><a href="https://litextension.com/download/payment_guide.pdf">Payment Guide</a></li>
					<li class="menu-item"><a href="http://litextension.zendesk.com/hc/en-us/requests">My Support Tickets</a></li>
					<li class="menu-item"><a href="https://litextension.com/contacts-us.html">Contact Us</a></li>
				</ul>
			</div>

		</div>
	</div>
	

	<div class="footer-copyright col-xs-12">
		<div class="container">
			<div class="col-xs-6">Copyright &copy; 2011 - 2021 LitExtension.com. All Rights Reserved.</div>
			<div class="col-xs-6">
				<img src="https://cm.litextension.com/images/img-payment.png" alt="payment"/>
			</div>
		</div>
	</div>
</footer>
<script>
	window.parent.postMessage('sw-app-loaded', '*');
</script>
<!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set._.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?1J6IqRIKBfs0bp4ElqxLZZvrytVZXZst";
            z.t = +new Date;
            $.type = "text/javascript";
            e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
    <script>
        $zopim(function() {

            var zName = 'Diaz Ricardo';
            var zParterLevel = 0;
            if (parseInt(zParterLevel) > 0){
                zName += " - Partner" + zParterLevel;
            }
            var zEmail = 'ricardodiazdelavega231@gmail.com';

            if(zName){
                if(!$zopim.livechat.getName()){
                    $zopim.livechat.setName(zName);
                }else{
                    if(!$zopim.livechat.getName().endsWith("Partner" + zParterLevel)){
                        $zopim.livechat.setName(zName);
                    }
                }
            }

            if(zEmail){
                if(!$zopim.livechat.getEmail()){
                    $zopim.livechat.setEmail(zEmail);
                }
            }

            $zopim.livechat.setOnStatus(onZopimStatusChange);
        });


        function onZopimStatusChange(status){
            if (status == "online") {
                $('#zompin-class').val('1');
            }else{
                $('#zompin-class').val('2');

            }
        }
    </script>
</body>
</html>