{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static  'css/home.css' %}" type="text/css">
<div class="home_page">
  <div class="home_page1">
    <div class="header_home">
      <h2>Duy Hiệu</h2>
    </div>
    <div class="slideshow_container">

      <div class="mySlides fade">
        <img src="https://i.imgur.com/HnQmrSN.png" style="width:100%">
        <div class="text">Information</div>
      </div>

      <div class="mySlides fade">
        <img src="https://i.imgur.com/DKZDlhS.png" style="width:100%">
        <div class="text">About Me</div>
      </div>

      <div class="mySlides fade">
        <img src="https://i.imgur.com/ZW2Affs.png" style="width:100%">
        <div class="text">My Website</div>
      </div>
      <a class="prev" onclick="prev_slide()">&#10094;</a>
      <a class="next" onclick="next_slide()">&#10095;</a>
      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>


 
</div>

  <script>
    let slideIndex = 0;
// set time chuyển slide=8s
let timeout = setInterval(showSlides, 5000);
function prev_slide() {
  slideIndex = slideIndex - 2
  if (slideIndex < 0) { slideIndex = 2 } // goi ham showslide() se thanh slide 3
  // reset timeout
  showSlides()
  clearInterval(timeout);
  timeout = setInterval(showSlides, 5000);
}
function next_slide() {
  slideIndex = slideIndex
  // reset timeout
  showSlides()
  clearInterval(timeout);
  timeout = setInterval(showSlides, 5000);
}
function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  // hidden all slide
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  // làm mờ hết tất cả các chấm
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  // xac dinh vi tri slide
  slideIndex++;
  if (slideIndex > slides.length) { slideIndex = 1 }
  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += " active";
}
showSlides()
  </script>




  {% endblock %}