{% extends 'main/base.html' %}
{% block title %} My-Music {% endblock %}

{% block body %}
<div id="music_page" >
<div class="music">
    <div class="music_text">
        <h2 style="padding-top: 30px ; padding-bottom: 30px ; margin: 0;">Những bản nhạc tâm trạng:</h2>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/WiwdKNrXB0U"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3>Xóa Đi - Hứa Giai Hào</h3>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/P9mqCv1yhBE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3> Thời Không Sai Lệch - Ngải Thần </h3>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/N-2Ejyj6UOY"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3> Họa Bì - Chỉ Nghiên</h3>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/hhLrMco0WFg"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3>Dễ Thay Đổi - Vương Tĩnh Văn Không Mập</h3>
    </div>
</div>

<div class="music">
    <div class="music_text">
        <h2 style="padding-top: 30px ; padding-bottom: 30px ; margin: 0;">Những bản cho ngày vui:</h2>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/us8kABcQ_Pk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3>Không Bằng - Na </h3>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/G4s-Ul31gbI"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3> Anh Yêu Vội Thế - La La Trần</h3>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/SNFZjBdErAI"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3> Thì Thôi - Nal x TVK </h3>
    </div>
    <div class="music_content">
        <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/1ECSeoG0vbo"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3>Em Đây Chẳng Phải Thuý Kiều - Hoàng Thuỳ Linh </h3>
    </div>
</div>
</div>


{% endblock %}