{% extends 'main/base.html' %}
{% block title %} My-Music {% endblock %}

{% block body %}
    <div>
        <h2>Những bản nhạc tâm trạng:</h2>
        <div>
            <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/WiwdKNrXB0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
            <h3>Xóa Đi - Hứa Giai Hào</h3>
            
        </div>
        <div>
            <iframe width="280" height="157" src="https://www.youtube-nocookie.com/embed/P9mqCv1yhBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3> Thời Không Sai Lệch - Ngải Thần </h3>
        </div>

    </div>
{% endblock %}