<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="shortcut icon" href="https://cm.litextension.com/images/favicon.ico">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="Jx1pRwq0qlVf1Km8IjRPhgA8BHkZ85XcYAqV1Xyj">
    <meta name="title" content="Shopping Cart Migration Made Easy - LitExtension" />
    <meta name="description" content="Ultimate Shopping Cart Migration Service to help you migration data from your store to desire shopping cart automatically" />
    <meta name="keywords" content="shopping cart migration, move shopping cart, transfer shopping cart, migrate shopping cart" />
    <meta name="ahrefs-site-verification" content="7af4369c6df7a232b13ed4ab00fabbd958aa9b16a5693076e0c7bf48bca0e33c">
    <title> Buy All in One Service </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link type="text/css"  href="https://cm.litextension.com/packages/select2/css/select2.css" rel="stylesheet" />

            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/bootstrap.min.css"/>
            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/bootstrap-theme.min.css"/>
            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/migration.css"/>
            <link type="text/css" rel="stylesheet" href="https://cm.litextension.com/css/font-awesome.min.css"/>
    
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery.form.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery.validate.min.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/cartmigration.js"></script>
            <script type="text/javascript" src="https://cm.litextension.com/js/jquery-html-svg-connect.js"></script>
        <script type="text/javascript"  src="https://cm.litextension.com/packages/select2/js/select2.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Styles -->
    <style>
        html, body {
            background-color: #fff;
            color: #3a3a3a;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            /*height: 100%;*/
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>

            <script>
            dataLayer = [{
                'PaymentID': '',
                'ProductName': 'csv to magento All in One Migration',
                'CustomerName': 'Hiệu Duy',
                'CustomerEmail': 'doduyhieu12091998@gmail.com',
                'Total': '193.00'
                                ,
                'UserId': '115125'

                            }];
        </script>
        








<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KP5FDR');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<div class="modal fade" id="modal-setup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <iframe id="iframeYoutube" width="1000" height="600"  src="" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="modal-close" data-dismiss="modal">
                <div><strong><i class="fas fa-times"></i></strong></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modal-setup').on('hidden.bs.modal', function (e) {
            $('#iframeYoutube').attr('src', '')
        })
    });
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP5FDR"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Post Affiliate Pro click tracking -->
<script type="text/javascript" id="pap_x2s6df8d" src="https://litextension.postaffiliatepro.com/scripts/trackjs.js"></script>
<script type="text/javascript">
    PostAffTracker.setAccountId('default1');
    try {
        PostAffTracker.track();
    } catch (err) { }
</script>
<!-- / Post Affiliate Pro click tracking -->
<header class="header" id="home-page">
	<nav class="navbar navbar-inverse">
		<div class="container">
		    <div class="navbar-header" style="padding: 10px 0;">
				<a class="" href="https://cm.litextension.com/my-migrations"><span class="logo"></span></a>
			</div>

		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <!-- Right Side Of Navbar -->
		        <ul class="nav navbar-nav navbar-right" >
		            <!-- Authentication Links -->
		            						<li class="nav-item "><a class="nav-link" href="https://cm.litextension.com/my-migrations">My Migrations</a></li>
						<li class="nav-item "><a class="nav-link" href="https://cm.litextension.com/create-migration">Create Migration</a></li>
						<li class="nav-item "><a class="nav-link" href="https://cm.litextension.com/all-in-one-migration">All-In-One Migration</a></li>
						<li class="nav-item ">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Buy a Service <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<li><a class="dropdown-item" href="https://cm.litextension.com/all-in-one-migration?source=csv">Migrate from CSV Files</a></li>
								<li><a class="dropdown-item" href="https://cm.litextension.com/all-in-one-migration?source=dbdump">Migrate from Database File</a></li>
								<li><a class="dropdown-item" href="https://cm.litextension.com/custom-migration">Customization Service</a></li>
								<li><a class="dropdown-item" href="https://cm.litextension.com/custom-field-package">Custom Field Package</a></li>
							</ul>
						</li>
						<!--
						<li class="nav-item">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Help Center <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/contact-us.html">Report a Problem with My Migration</a></li>
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/faq/">FAQs</a></li>
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/download/payment_guide.pdf">Payment Guide</a></li>
								<li><a class="dropdown-item" target="_blank" target="_blank" href="http://litextension.zendesk.com/hc/en-us/requests">My Support Tickets</a></li>
								<li><a class="dropdown-item" target="_blank" href="https://litextension.com/contact-us.html">Contact Us</a></li>
							</ul>
						</li>
						-->
						
                                                    <li class="nav-item dropdown">
		                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>
		                        Hiệu Duy <span class="caret"></span>
		                    </a>
		                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
		                    		<li><a class="dropdown-item" href="https://cm.litextension.com/profile">My Profile</a></li>
		                    		<li><a class="dropdown-item" href="https://cm.litextension.com/profile/billing">Top up Balance</a></li>
									<li><a class="dropdown-item" href="https://cm.litextension.com/profile/order">Order History</a></li>
									<li><a class="dropdown-item" href="https://cm.litextension.com/profile/billing">Download Invoice</a></li>
		                            <li><a class="dropdown-item" href="https://cm.litextension.com/logout"
		                                onclick="event.preventDefault();
		                                         document.getElementById('logout-form').submit();">
		                                Logout
		                            </a></li>
		                            <form id="logout-form" action="https://cm.litextension.com/logout" method="POST" style="display: none;">
		                                <input type="hidden" name="_token" value="Jx1pRwq0qlVf1Km8IjRPhgA8BHkZ85XcYAqV1Xyj">
		                            </form>

		                    </ul>
		                    </li>
                        
		            		        </ul>
		    </div>
		</div>
	</nav>
</header>
    <div id="app">
        <div class="container">
            <div class="page-aio" id="page-confirm-aio">
                <h2 class="title-page">Confirm Your Order</h2>
                <a href="https://cm.litextension.com/all-in-one-migration" class="col-xs-2">&laquo; Back To Edit Order</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <a role="button" data-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                    <div class="panel-heading" role="tab" id="heading-one">
                                        <h5 class="panel-title">
                                            1. My Requirements
                                        </h5>
                                    </div>
                                </a>
                                <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading-one">
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <h6>I want to migrate from csv to magento</h6>
                                        </div>
                                        <div class="col-xs-6">
                                            <h6>Total Entities</h6>
                                                                                        <div class="row">
                                                <label class="col-xs-5">Product</label>
                                                <label class="col-xs-7">100</label>
                                            </div>
                                                                                                                                    <div class="row">
                                                <label class="col-xs-5">Customers</label>
                                                <label class="col-xs-7">100</label>
                                            </div>
                                                                                                                                    <div class="row">
                                                <label class="col-xs-5">Orders</label>
                                                <label class="col-xs-7">100</label>
                                            </div>
                                                                                                                                    <div class="row">
                                                <label class="col-xs-8">Product Categories</label>
                                            </div>
                                                                                                                                    <div class="row">
                                                <label class="col-xs-8">Manufactures</label>
                                            </div>
                                                                                                                                    <div class="row">
                                                <label class="col-xs-8">Taxes</label>
                                            </div>
                                                                                                                                                                                                                                                                    </div>

                                        <div class="col-xs-5">
                                            <h6>Free Addtional Options</h6>
                                            <div class="checkbox">
                                                
                                            </div>
                                            <div class="checkbox">
                                                                                            </div>
                                            <div class="checkbox">
                                                                                            </div>
                                            <div class="checkbox">
                                                                                            </div>
                                            <div class="checkbox">
                                                                                            </div>
                                            <div class="checkbox">
                                                                                            </div>

                                            <div class="checkbox">
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-two"
                                   aria-expanded="true" aria-controls="collapse-two">
                                    <div class="panel-heading" role="tab" id="heading-two">
                                        <h5 class="panel-title">
                                            2. Additional Custom Requiments ( optional )
                                        </h5>
                                    </div>
                                </a>

                                <div id="collapse-two" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading-two">
                                    
                                        
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="custom-cost" class="col-sm-2 control-label">Custom cost</label>
                                            <div class="col-sm-10 input-group">
                                                <label>$0</label>
                                            </div>
                                            
                                        </div>
                                        <div class="form-group ">
                                            <label for="custom-requirement" class="col-sm-2 control-label">Custom requirement</label>
                                            <div class="col-sm-10 input-group">
                                                <textarea class="form-control" id="custom-requirement" rows="3" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default display-none">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-three"
                                   aria-expanded="true" aria-controls="collapse-three">
                                    <div class="panel-heading" role="tab" id="heading-three">
                                        <h5 class="panel-title">
                                            3. Source Store Info
                                        </h5>
                                    </div>
                                </a>

                                <div id="collapse-three" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading-three">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="srcType" class="col-xs-5 control-label">Source Shopping Cart</label>
                                            <div class="col-xs-7">
                                                <label>csv</label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcType"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcUrl" class="col-xs-5 control-label">Source Store Url</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcUrl"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcAdminUrl" class="col-xs-5 control-label">Source Store Admin Url</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcAdminUrl"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcAdminUser" class="col-xs-5 control-label">Source Admin Login</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcAdminUser"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcAdminPass" class="col-xs-5 control-label">Source Admin Password</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcAdminPass"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcHostname" class="col-xs-5 control-label">Source FTP/SFTP/Cpanel/Others host</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcHostname"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcHostUser" class="col-xs-5 control-label">Source Login</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcHostUser"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcHostPass" class="col-xs-5 control-label">Source Password</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errorsrcHostPass"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="srcDirectory" class="col-xs-5 control-label">Source Directory</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default display-none">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-four"
                                   aria-expanded="true" aria-controls="collapse-four">
                                    <div class="panel-heading" role="tab" id="heading-four">
                                        <h5 class="panel-title">
                                            4. Target Store Info
                                        </h5>
                                    </div>
                                </a>

                                <div id="collapse-four" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading-four">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="tarType" class="col-xs-5 control-label">Target Shopping Cart</label>
                                            <div class="col-xs-7">
                                                <label>magento</label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarType"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarUrl" class="col-xs-5 control-label">Target Store Url</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarUrl"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarAdminUrl" class="col-xs-5 control-label">Target Store Admin Url</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarAdminUrl"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarAdminUser" class="col-xs-5 control-label">Target Admin Login</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarAdminUser"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarAdminPass" class="col-xs-5 control-label">Target Admin Password</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarAdminPass"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarHostname" class="col-xs-5 control-label">Target FTP/SFTP/Cpanel/Others host</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarHostname"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarHostUser" class="col-xs-5 control-label">Target Login</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarHostUser"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarHostPass" class="col-xs-5 control-label">Target Password</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                            <div class="col-xs-7 col-xs-offset-5" id="errortarHostPass"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tarDirectory" class="col-xs-5 control-label">Target Directory</label>
                                            <div class="col-xs-7">
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-five" aria-expanded="true" aria-controls="collapse-five">
                                    <div class="panel-heading" role="tab" id="heading-five">
                                        <h5 class="panel-title">
                                            3. Pricing
                                        </h5>
                                    </div>
                                </a>

                                <div id="collapse-five" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-five">
                                    <div class="panel-body col-xs-6">
                                        <div class="form-group form-check-out">
                                            <h5 for="price" class="col-xs-3 control-label">Subtotal</h5>
                                            <div class="col-xs-7 input-group">
                                                <h5 class="col-xs-12">$193</h5>
                                            </div>
                                        </div>
                                        <div class="form-group form-check-out">
                                            <h5 for="price" class="col-xs-3 control-label">Discount</h5>
                                            <div class="col-xs-7 input-group">
                                                <h5 class="col-xs-12">$0</h5>
                                            </div>
                                        </div>
                                        <div class="form-group form-check-out">
                                            <h5 for="price" class="col-xs-3 control-label total-price">Total</h5>
                                            <div class="col-xs-7 input-group">
                                                <h5 class="col-xs-12 total-price">$193</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-12 control-label label-have"><img src="https://cm.litextension.com/images/money-icon.png"><a href="https://cm.litextension.com/profile">You have $0 in your balance. <br>You need to pay $193 more. </a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row button">
                            <div class="col-xs-12">
                                <span class="col-xs-12">* By clicking Place Order, you agree with <a href="https://litextension.com/terms-conditions.html">Terms and Conditions</a> and <a href="https://litextension.com/gdpr-compliance.html">GDPR Complance</a></span>
                                <div class="col-xs-5"></div>
                                <a href="{% url 'main:paypal' %}" class="lit-button lit-button-default" id="save-changes">Place Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer class="footer">
		<div class="footer-menu col-xs-12">
		<div class="container">
			<div class="col-xs-3">
				
				<h3 class="footer-title-menu" style="margin-top: 0px !important;">
					<img src="https://cm.litextension.com/images/logo-footer.svg" alt="LitExtension logo" style="width: 250px;" />
				</h3>

				<div class="clearfix"></div>
				<div class="image-protected">
					<img src="https://cm.litextension.com/images/dmca_protected.png" alt="DMCA.com Protection Status"/>
				</div>
				<div class="footer-text">
					<h6>All acts of faking, copying or citing a part or all of the content on this website without LitExtension permission is illegal.</h6>
				</div>
			</div>
			<div class="col-xs-3">
				<h3 class="footer-title-menu">COMPANY</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/about-us.html">About LitExtension</a></li>
					<li class="menu-item"><a href="https://litextension.com/success-stories-litextension.html">Success Stories</a></li>
					<li class="menu-item"><a href="https://litextension.com/customer-reviews.html">Customer Reviews</a></li>
					<li class="menu-item"><a href="https://litextension.com/partner-program.html">Become a Partner</a></li>
					<li class="menu-item"><a href="https://litextension.com/affiliates.html">Affiliate Program</a></li>
					<li class="menu-item"><a href="https://litextension.com/blog">Blog</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<h3 class="footer-title-menu">POLICIES</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/privacy-policy.html">Privacy Policy</a></li>
					<li class="menu-item"><a href="https://litextension.com/terms-conditions.html">Terms and Conditions</a></li>
					<li class="menu-item"><a href="https://litextension.com/refund-policy.html">Refund Policy</a></li>
					<li class="menu-item"><a href="https://litextension.com/gdpr-compliance.html">GDPR Compliance</a></li>
					<li class="menu-item"><a href="https://litextension.com/data-security-policy.html">Data Security Policy</a></li>
					<li class="menu-item"><a href="https://litextension.com/partnership-terms-and-conditions.html">Partnership Policy</a></li>
				</ul>
			</div>

			<div class="col-xs-3">
				<h3 class="footer-title-menu">RESOURCES</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/webinars.html">Webinars</a></li>
					<li class="menu-item"><a href="https://www.youtube.com/c/litextension">Video Tutorial</a></li>
					<li class="menu-item"><a href="https://litextension.com/blog/">Ecommerce Blog</a></li>
					<li class="menu-item"><a href="https://www.facebook.com/groups/litextensioncommunity">Join Our Community</a></li>
				</ul>
			</div>

			<div class="col-xs-3">
				<h3 class="footer-title-menu">HELP CENTER</h3>
				<ul class="menu">
					<li class="menu-item"><a href="https://litextension.com/contact-us.html">Report a Problem</a></li>
					<li class="menu-item"><a href="https://litextension.com/faq/">FAQs</a></li>
					<li class="menu-item"><a href="https://litextension.com/download/payment_guide.pdf">Payment Guide</a></li>
					<li class="menu-item"><a href="http://litextension.zendesk.com/hc/en-us/requests">My Support Tickets</a></li>
					<li class="menu-item"><a href="https://litextension.com/contacts-us.html">Contact Us</a></li>
				</ul>
			</div>

		</div>
	</div>
	

	<div class="footer-copyright col-xs-12">
		<div class="container">
			<div class="col-xs-6">Copyright &copy; 2011 - 2021 LitExtension.com. All Rights Reserved.</div>
			<div class="col-xs-6">
				<img src="https://cm.litextension.com/images/img-payment.png" alt="payment"/>
			</div>
		</div>
	</div>
</footer>
<script>
	window.parent.postMessage('sw-app-loaded', '*');
</script>
<!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set._.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?1J6IqRIKBfs0bp4ElqxLZZvrytVZXZst";
            z.t = +new Date;
            $.type = "text/javascript";
            e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
    <script>
        $zopim(function() {

            var zName = 'Hiệu Duy';
            var zParterLevel = 0;
            if (parseInt(zParterLevel) > 0){
                zName += " - Partner" + zParterLevel;
            }
            var zEmail = 'doduyhieu12091998@gmail.com';

            if(zName){
                if(!$zopim.livechat.getName()){
                    $zopim.livechat.setName(zName);
                }else{
                    if(!$zopim.livechat.getName().endsWith("Partner" + zParterLevel)){
                        $zopim.livechat.setName(zName);
                    }
                }
            }

            if(zEmail){
                if(!$zopim.livechat.getEmail()){
                    $zopim.livechat.setEmail(zEmail);
                }
            }

            $zopim.livechat.setOnStatus(onZopimStatusChange);
        });


        function onZopimStatusChange(status){
            if (status == "online") {
                $('#zompin-class').val('1');
            }else{
                $('#zompin-class').val('2');

            }
        }
    </script>
</body>
</html>