<!DOCTYPE html>
<html>
<head>
    <title>Game-snake</title>
    <style>
        body {
            height: 100%;
            margin: 0;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        canvas {
            margin: 100px;
            background-color: #999999;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <!-- tao box-game -->
    <canvas width="400" height="400" id="game"></canvas>
    <script>
        // gán box-game thành biến
        var canvas = document.getElementById('game');
        var context = canvas.getContext('2d');
        //giá trị 1 ô
        var grid = 16; // 25*25 ô
        // khởi tạo đối tượng rắn là 1 ô vuông
        var snake = {
            //vị trí của đầu rắn
            x: 160, 
            y: 160,
            
            //hướng di chuyển
            dx: grid, 
            dy: 0,

            cells: [],
            maxCells: 4
        };
        var count = 0;
        var apple = {
            x: random(1,25)*25,
            y: random(1,25)*25,
        };

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }
        // game loop
        function loop() {
            //hàm này giống như setTimeout, sẽ gọi lại hàm loop khi loop thực thi xong
            requestAnimationFrame(loop);
            // game loop 10fps
            if (++count < 6) {
                return;
            }
            count = 0;
            context.clearRect(0, 0, canvas.width, canvas.height);
            snake.x += snake.dx; // mỗi loop rắn sẽ di chuyển thêm 1dx đơn vị
            snake.y += snake.dy;
            // khi snake đụng tường sẽ chạy lại từ edge đối diện
            if (snake.x < 0) {
                snake.x = canvas.width - grid;
            }
            else if (snake.x >= canvas.width) {
                snake.x = 0;
            }
            if (snake.y < 0) {
                snake.y = canvas.height - grid;
            }
            else if (snake.y >= canvas.height) {
                snake.y = 0;
            }
            // Phương thức unshift sẽ thêm một hoặc nhiều phần tử vào đầu mảng
            snake.cells.unshift({ x: snake.x, y: snake.y });
            // thêm 1 ô vuông phía trc thì phải remove 1 cái phía sau để snake move dc.
            if (snake.cells.length > snake.maxCells) {
                snake.cells.pop();
            }
            // draw apple
            context.fillStyle = 'red';
            context.fillRect(apple.x, apple.y, grid - 1, grid - 1);
            // draw snake
            context.fillStyle = 'green';
            snake.cells.forEach(function (cell, index) {
                context.fillRect(cell.x, cell.y, grid - 1, grid - 1);
                // snake ate apple
                if (cell.x === apple.x && cell.y === apple.y) {
                    snake.maxCells++;
                    apple.x = getRandomInt(0, 25) * grid;
                    apple.y = getRandomInt(0, 25) * grid;
                }
                // check va chạm khi rắn đụng đuôi
                for (var i = index + 1; i < snake.cells.length; i++) {
                    // va chạm thì reset game
                    if (cell.x === snake.cells[i].x && cell.y === snake.cells[i].y) {
                        snake.x = 160;
                        snake.y = 160;
                        snake.cells = [];
                        snake.maxCells = 4;
                        snake.dx = grid;
                        snake.dy = 0;
                        apple.x = getRandomInt(0, 25) * grid;
                        apple.y = getRandomInt(0, 25) * grid;
                    }
                }
            });
        }
        //bắt sự kiện bàn phím ấn xuống
        document.addEventListener('keydown', function (e) {
            // lọc sự kiện keydown để rắn không di ngược lại
            if (e.which === 37 && snake.dx === 0) {
                snake.dx = -grid;
                snake.dy = 0;
            }
            else if (e.which === 38 && snake.dy === 0) {
                snake.dy = -grid;
                snake.dx = 0;
            }
            else if (e.which === 39 && snake.dx === 0) {
                snake.dx = grid;
                snake.dy = 0;
            }
            else if (e.which === 40 && snake.dy === 0) {
                snake.dy = grid;
                snake.dx = 0;
            }
        });
        requestAnimationFrame(loop);
    </script>
</body>
</html>